@media only screen and (max-width: 1270px)  {
    .project-pic {
        height: 150px;
    }    

    .grid-photo {
        margin: 15px auto;
    }

}

@media only screen and (max-width: 1251px) {
    header .intro-section {
        margin-top: 200px;
    }
         
   
    .project-pic {
        height: 150px;
        width: auto;
    }

    

    
} 

@media only screen and (max-width: 1165px) {
   header .intro-section {
       margin-top: 200px;
   }
   
   
    .intro-section .first-h1,
   .intro-section .second-h1 {
        font-size: 600%;

    }
    
    
    section #contact {
        bottom: 140px;
    }

    #headshot img {
        bottom: 40px;
    }

    .project-pic {
        height: 125px;
        width: auto;
    }

    .project-tile .grid-photo {
        width: 80%;
        margin: 20px auto;

}

    .entry p {
        font-size: 90%;

    }

   section .row {
        margin-left: 40px;
    }

    #headshot img {
        right: -100px;
    }

    section #contact{
        bottom: 120px;
    }



/* Small tablet to big tablet: from 768px to 1023px */
 @media only screen and (max-width: 1108px) {
    header .intro-section {
        margin-top: 230px;
    }
    
    .intro-section .first-h1,
   .intro-section .second-h1 {
        font-size: 550%;
      
    }



    .about-text {
        max-height: 250px;
        max-width: 250px;
        
    }

    

    #navbar a {
        margin: auto 30px;
    }



   #blog p {
    margin: 20px 40px;
   }

  section #contact {
    bottom: 30px;
}

}

@media only screen and (max-width: 1048px) {
    .intro-section .first-h1,
    .intro-section .second-h1 {
        font-size: 500%;
    }
    #navbar a {
        margin: auto 20px;
    }
}

@media only screen and (max-width: 973px){
    .intro-section .first-h1,
    .intro-section .second-h1 {
        font-size: 500%;
    }

    #navbar a {
        font-size: 85%;
        margin: auto 15px;
    }
    
    h2 {
        font-size: 130%;
    }
    
    

}

@media only screen and (max-width: 831px){
    .intro-section .first-h1,
    .intro-section .second-h1 {
        font-size: 450%;
    }

    #headshot img {
        max-height: 200px;
    }
}

/* Small phones to small tablet: from 481px to 767px */
 @media only screen and (max-width: 767px) {
    .intro-section .first-h1,
    .intro-section .second-h1 {
        font-size: 400%;
    }

    .intro-section {
        margin: 265px 30px auto 110px;
    }
        
}


@media only screen and (max-width: 690px){
    .intro-section .first-h1,
    .intro-section .second-h1 {
        font-size: 375%;
    }
}

    .intro-section {
    margin: 200px 30px auto 110px;
}

h2 {
    font-size: 110%;
}


@media only screen and (max-width: 658px) {
    .intro-section .first-h1,
    .intro-section .second-h1 {
        font-size: 350%;
    }

    #navbar a {
        font-size: 75%;
        margin: auto 10px;
    }

    .intro-subtext {
        font-size: 80%;
    }
}
    


@media only screen and (max-width: 626px){
    .intro-section .first-h1,
    .intro-section .second-h1 {
        font-size: 300%;
    }

    .intro-section {
        margin: 250px 30px auto 80px;
    }
    .welcome-subtext {
        margin: 10px 40px 30px 80px;
    }
} 
    
@media only screen and (max-width: 521px) {
    .intro-section .first-h1,
    .intro-section .second-h1 {
        font-size: 270%;
    }

    .intro-section {
        margin: 200px 30px 0 70px;
    }

    .welcome-subtext {
        margin: 0 40px 30px 70px;
    }
    .intro-subtext {
        font-size: 70%;
    }

}

@media only screen and (max-width: 475px) {

    /*thumbs up */
    
    #welcome-section .intro-section,
    #welcome-section .welcome-subtext {
        margin-left: 50px;
    }           

    .intro-section .first-h1,
    .intro-section .second-h1 {
        font-size: 400%;
        
    }
    .welcome-subtext p{
       font-size: 100%;
    }
}  


/* @media only screen and (max-width: 320px) {
    .intro-section {
        font-size: 1000%;
    }
} */
}