@media only screen and (max-width: 1270px)  {
    .project-pic {
        height: 150px;
    }    

    .grid-photo {
        margin: 15px auto;
    }

}

@media only screen and (max-width: 1251px) {
    header .intro-section {
        margin-top: 200px;
    }
         
   
    .project-pic {
        height: 150px;
        width: auto;
    }

    

    
} 

@media only screen and (max-width: 1165px) {
   header .intro-section {
       margin-top: 200px;
   }
   
   
    .intro-section .first-h1,
   .intro-section .second-h1 {
        font-size: 600%;

    }
    
    
    section #contact {
        bottom: 140px;
    }

    #headshot img {
        bottom: 40px;
    }

    .project-pic {
        height: 125px;
        width: auto;
    }

    .project-tile .grid-photo {
        width: 80%;
        margin: 20px auto;

}

    .entry p {
        font-size: 90%;

    }

   section .row {
        margin-left: 40px;
    }

    #headshot img {
        right: -100px;
    }

    section #contact{
        bottom: 120px;
    }



/* Small tablet to big tablet: from 768px to 1023px */
 @media only screen and (max-width: 1108px) {
    header .intro-section {
        margin-top: 230px;
    }
    
    .intro-section .first-h1,
   .intro-section .second-h1 {
        font-size: 550%;
      
    }



    .about-text {
        max-height: 250px;
        max-width: 250px;
        
    }

    

    #navbar a {
        margin: auto 30px;
    }



   #blog p {
    margin: 20px 40px;
   }

  section #contact {
    bottom: 30px;
}

}

@media only screen and (max-width: 1048px) {
    .intro-section .first-h1,
    .intro-section .second-h1 {
        font-size: 500%;
    }
    #navbar a {
        margin: auto 20px;
    }
}

@media only screen and (max-width: 973px){
    .intro-section .first-h1,
    .intro-section .second-h1 {
        font-size: 500%;
    }

    #navbar a {
        font-size: 85%;
        margin: auto 15px;
    }
    
    h2 {
        font-size: 130%;
    }
    
    

}

@media only screen and (max-width: 831px){
    .intro-section .first-h1,
    .intro-section .second-h1 {
        font-size: 450%;
    }

    #headshot img {
        max-height: 200px;
    }
}

/* Small phones to small tablet: from 481px to 767px */
 @media only screen and (max-width: 767px) {
    .intro-section .first-h1,
    .intro-section .second-h1 {
        font-size: 400%;
    }

    .intro-section {
        margin: 265px 30px auto 110px;
    }
    


  /**************** new stuff   
    .mobile-nav-icon {
        display: inline-block;
    }

    #navbar {
        float: left; 
    }

    #welcome-section #navbar {display: none;}
  ****************************/  
    
    
}


@media only screen and (max-width: 690px){
    .intro-section .first-h1,
    .intro-section .second-h1 {
        font-size: 375%;
    }
}

    .intro-section {
    margin: 200px 30px auto 110px;
}

h2 {
    font-size: 110%;
}


@media only screen and (max-width: 658px) {
    .intro-section .first-h1,
    .intro-section .second-h1 {
        font-size: 350%;
    }

    #navbar a {
        font-size: 75%;
        margin: auto 10px;
    }

    .intro-subtext {
        font-size: 80%;
    }
}
    


@media only screen and (max-width: 626px){
    .intro-section .first-h1,
    .intro-section .second-h1 {
        font-size: 300%;
    }

    .intro-section {
        margin: 250px 30px auto 80px;
    }
    .welcome-subtext {
        margin: 10px 40px 30px 80px;
    }
} 
    
@media only screen and (max-width: 521px) {
    .intro-section .first-h1,
    .intro-section .second-h1 {
        font-size: 270%;
    }

    .intro-section {
        margin: 200px 30px 0 70px;
    }

    .welcome-subtext {
        margin: 0 40px 30px 70px;
    }
    .intro-subtext {
        font-size: 70%;
    }

}

@media only screen and (max-width: 475px) {

    /*thumbs up */
    
    #welcome-section .intro-section,
    #welcome-section .welcome-subtext {
        margin-left: 50px;
    }           

    .intro-section .first-h1,
    .intro-section .second-h1 {
        font-size: 400%;
        
    }
    .welcome-subtext p{
       font-size: 100%;
    }
}  


@media only screen and (max-width: 320px) {
    /*thumbs up */
    
    #welcome-section .intro-section {
        margin-top: 170px;
        
    } 

    .intro-section .first-h1 { 
        font-size: 440%;
        position: relative;
        line-height: 0.6;
        left: -14px;
        /* top: -3px;  */
        
}
    .second-h1 {
        line-height: 0.7;
        position: relative;
        /* top: 10px; */   
    }


    #diane{ 
        font-size: 100%;
    } 
    #nguyen {
        font-size:77%;
    }
    
    .intro-subtext {
        position: relative;
        left: -7px;

        
    }
    .intro-subtext:first-of-type {font-size: 128%;}
    .intro-subtext:last-of-type {font-size: 84%;}

    #projects {height: 950px;}
    #blog {height: 900px;}
    #resume {height: 700px;}
    #about {height: 1100px;}

    #projects .project-pic {
        height: 110px;
    }

    #projects .grid-box li {
        width: 90%;
        position: relative;
        left: -40px;
    }

    

    .entry p {
        font-size: 100%;
    }

    section .github-prof {
 
        position: relative;
        top: 30px;
        left: 80px;
    }

    #resume .resume-text{left: -40px;}
    
    section .about-text {
        margin-right: 35px;
        /* bottom: -40px; */
    }

    footer .social-links li {
        padding: 5px;
        margin: 0 15px;}

    #about h2 {margin-bottom: 0;}

    #about #headshot {
        height: 100px;
        width: auto;
        right: 140px;
        bottom: -190px;
        position: relative;
    }

    #about #contact {
        bottom: -140px;
    }


}

}