/* #531096 ; #6f0e7c ; */

*{
    margin: 0;
    padding: 0;
/*    box-sizing: border-box;*/
}

html {
    scroll-behavior: smooth;
    background-color: #eee;
    color:#46307a;
    font-family: 'Lato', sans-serif; 
    font-weight: 100, 300, 400, 900;
    font-size: 130%;
    
}

html, body {
    height: 100%;
    text-rendering: optimizeLegibility;
}

body { overflow-x: hidden;}

/*reusable components */
section {
    margin: 0 auto;
    display: block;
    height: 90vh;
}

.row {
    max-width: 1140px;
    margin: 0 15px;
}


.background {
    background-color:white;
    width: 100%;
    margin-left: 0;
}

.row {
    max-width: 1140px;
    margin: 0 auto;    
}

h1 { 
    color: #fff;
    margin: 0;
    display:block;
}

h2 {
    color: #531096;
    margin: 50px auto;
    display: block;
    font-size: 170%;
}

h3 {
    color: #531096; 
}


a {
    text-decoration: none;

}


/*intro section*/ 
header {

    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-image:  linear-gradient(rgba(0, 0, 0, 0.35),rgba(0, 0, 0, 0.35)), url(../../resources/img/pinkPurpleMtns.jpg);
}
    

.first-h1 {
    font-weight: 300;
    font-size: 750%;
    line-height: .4;
    position: relative;
    left: -5px;
}
.second-h1 {
    font-weight: 900;
    left: -10px;
    font-size: 725%;
}

.intro-section {
    margin: 280px 30px auto 110px;
}
.intro-subtext {
    color: #fff;
    font-size: 120%;
    font-weight: 300;
    position: relative;
    top: -20px;
}


.welcome-subtext {
    margin: 30px 40px 30px 115px;

}

#front-link {
    text-decoration: none;
    font-size: 100%;
    color: #fff;
}

#front-link:hover,
#front-link:active { 
    color: #bf62bf;
}


/* navigation */
 
/* .mobile-nav-icon {
    float: right;
    margin-top: 30px;
    cursor: pointer; 
    display: none; 
}

.mobile-nav-icon ion-icon {
    
    font-size: 150%;
    color: white;
    display: none;
    
} */

#navbar {
    position: fixed;
    height: 70px;
    background-color: #6f0e7c;
    width: 100%;
    margin: 0;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    display: inline-flex;
    justify-content: flex-end;
    box-shadow: 0 2px rgba(80, 79, 79, 0.3);
}


#navbar a {
    font-size: 100%;
    font-weight: 300; 
    display: inline-block;
    margin: auto 40px;
    letter-spacing: 2px;

}

/* .main-nav li {
    display: inline-block;
    margin: auto 50px;
    letter-spacing: 2px;
    font-weight: 100%;
} */



nav a:link,
nav a:visited {
    text-decoration: none;
    border: 0;
    color: #fff;
    transition: color 0.2s;
}

nav a:hover,
nav a:active { 
    color: #bf62bf;
}


/* projects section */

#projects {
    margin: 20px auto auto 0;
}

#projects h2 {
    margin: 25px 0;
}

.project-pic {
    height: 180px;
    width: auto;
}

.grid-box {
    /* height: 100%; */
    list-style: none;
    display: block;

}

.grid-box li {
    display: block;
    float:left;
    width: 28%;
    margin-left: 40px;
   
}

.grid-box img { 
    opacity: 1;   
    width: 100%;
    transition: opacity 1s;
    vertical-align: bottom; /* to remove line on bottom of images */
    
   
}

.grid-box img:hover {
    opacity: 0.3;
    
    
}

.grid-photo {
    
    margin: 20px auto;
    overflow: hidden;
    background-color: #000;
    
  
}

.github-prof {
    display: block;
    position: relative;
    left: 100px;
    top: 15px;
    font-size: 120%;
}

section #github-link {
    height: 10vh;
    margin: 10px auto 0 100px;
}


/*blog section */

.entry p {
    margin: 30px 50px;
    color: #3b2867;
    line-height: 1.3;

}

/* resume section */


h2 #resume {
    margin-top: 0;
}

.resume-text {
    margin: 50px;
    display: inline-block;
   
    
}
#profile-link {
 margin: auto;   

}

/* about section */

.about-text {
    margin-left: 0px;
    float: left;
    max-height: 550px;
    max-width: 550px;
    position: relative;
    bottom: -40px;
}

#headshot img {
    display: inline-block;
    border-radius: 50%;
    height: 375px;
    width: auto;
    right: -120px;
    bottom: 20px;
    position: relative; /*make this sticky upon scroll*/
}

#contact {
    position: relative;
    bottom: 40px;
}




/*-------------------------------------------------*/
/*FOOTER*/
/*-------------------------------------------------*/


footer {
    background-color: #b9b1b9;
    padding: 15px;
    font-size: 80%;
}

footer a {
    display: inline-block;
    color:#46307a;
    margin-bottom: 10px;
    font-size: 70%;
    letter-spacing: 2px;
    
}

.wrapper {
    text-align: center;
}

.social-links {
   text-align: center;
}

.social-links li {
    list-style: none;
    display: inline-block;
    margin: 0 5%;
    font-size: 200%;
     
} 
.social-links a {
    color: #6f0e7c;
 }

 
a:hover,
a:active  {
    color: #a945a9;
}

